* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    background-image: linear-gradient(190deg, #ffffff 0%, #82bc23 74%);
}

header {
    background-color: #9dc5c3;
    background-image: linear-gradient(90deg, #9dc5c3 0%, #5e5c5c 74%);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    top: 0;
    height: 100px;
}

.container {
    max-width: 80%;
    margin: 100px auto;
    align-items: center;
}

#header .logo {
    display: block;
    width: 200px;
}

#header-img {
    display: block;
    width: 100%;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0;
    list-style: none;
    gap: 20px;
}

#nav-bar a {
    color: lime;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-size: 1.5rem;
}

#nav-bar a:hover {
    text-shadow: 0 0 4px limegreen;
}

.hero {
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
}

.hero h2 {
    text-transform: uppercase;
}

h2 :hover {
    text-shadow: 0 0 4px limegreen;
}

.hero input[type='email'] {
    max-width: 270px;
    width: 100%;
    padding: 5px;
    background-color: #fee2f8;
    background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}

.hero #submit {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 5px solid limegreen;
    border-radius: 5px;
    background-color: #8ae9b3;
    background-image: linear-gradient(315deg, #8ae9b3 0%, #c8d6e5 74%);
}

.description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #8ae9b3;
    background-image: linear-gradient(-315deg, #8ae9b3 0%, #c8d6e5 74%);
    border-radius: 30px;
}

.description-icon {
    height: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    flex: 1 1 0;
}

.description-icon img {
    display: block;
    max-width: 65px;
}

.description-content {
    flex: 1 1 80%;
}

.description-content .title {
    text-transform: uppercase;
    font-size: 16px;
}

.products {
    display: flex;
    flex-direction: column;
}

.bundles {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.responsive-video {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.cards {
    display: flex;
    margin: 20px;
    padding: 20px;
    border-radius: 0% 40% 74% 34% / 41% 33% 0% 36%;
    flex-wrap: wrap;
    text-align: center;
    max-width: 350px;
    width: 100%;
    font-size: 15px;
    background-image: linear-gradient(-315deg, #8ae9b3 0%, #c8d6e5 74%);
}

.cards ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cards ul li {
    padding: 10px;
}

.cards .cards-button {
    display: block;
    padding: 10px 14px 9px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid limegreen;
    color: inherit;
    background-color: #fee2f8;
    background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
    transition: all 200ms ease-in;
    text-transform: uppercase;
}

.cards .cards-button:hover {
    background-color: #17f9f2;
    background-image: linear-gradient(315deg, #17f9f2 0%, #b0f9a9 74%);
    transition: all 200ms ease-out;
}

.cards-title {
    color: green;
}

.cards-content {}

.cards-footer {
    margin: 0 auto 20px;
}

.footer-style {
    background-color: #9dc5c3;
    background-image: linear-gradient(90deg, #9dc5c3 0%, #5e5c5c 74%);
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.list ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0;
    list-style: none;
    gap: 20px;
}

.list a {
    color: lime;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.list a:hover {
    text-shadow: 0 0 4px limegreen;
}

.footer-p {
    color: white;
    font-size: 12px;
}

@media screen and (max-width: 800px) {
    .description-icon {
        flex: 1 1 100%;
    }
    .description-icon img {
        max-width: 80px;
    }
    .description-content {
        flex: 1 1 100%;
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    header {
        height: 150px;
        justify-content: space-around;
        flex-direction: column;
    }
    .container {
        margin-top: 150px;
        padding: 0 40px;
        max-width: 100%;
    }
    #nav-bar a {
        font-size: 1rem;
    }
}